html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 7.2rem 4.8rem;

  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  margin-bottom: 2.8rem;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

header .banner {
  font-size: 2.8rem;
  margin-top: 0.8rem;
}

header .banner.light {
  font-weight: 200;
}

header .banner.bold {
  font-weight: 600;
}

header .description {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 1.5;

  margin-top: 1.8rem;
}

.visibility {
  margin: auto;
}

.card {
  width: 100%;
  padding: 3rem;
  margin-bottom: 2.8rem;

  border-top: 4px solid;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  /* Animation */
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.card .header {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
}

.card .description {
  font-weight: 200;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.card .icon {
  width: 5rem;
  height: 5rem;

  align-self: flex-end;
}

.card.cyan {
  border-color: #06b6d4;
}

.card.red {
  border-color: #ef4444;
}

.card.yellow {
  border-color: #f59e0b;
}

.card.blue {
  border-color: #3b82f6;
}

@media screen and (min-width: 1024px) {
  header {
    margin-bottom: 4.8rem;
  }

  header .banner {
    font-size: 4.4rem;
  }

  .visibility {
    display: flex;
    gap: 3.2rem;
  }

  .container--1,
  .container--3 {
    display: flex;
    align-items: center;
  }
}
